@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
*{
    font-size:14px;
    font-family: 'Spartan', sans-serif;
}
.customer-image{
    border-radius: 50%;
    width:55px;
}
.rating-one, .rating-two, .rating-three{
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
}
.buyer-1,.buyer-2,.buyer-3{
    padding-left:15px;
    padding-bottom:8px;
}
.text{
    color:hsl(300, 100%, 95%);
    line-height:30px ;
}
.name{
    color:hsl(0, 0%, 100%) ;
    font-weight: bold;
}
.tag{
    color:hsl(333, 80%, 67%);
}
.buyer-1,.buyer-2,.buyer-3{
    background-color: hsl(300, 43%, 22%);
    border-radius: 15px;
    font-size: 20px;
    padding-right:10px;
    
}
/* Small devices (landscape phones) */
@media (min-width:576px) {}
/* Medium devices (tablets) */
@media (min-width:768px) {
    body{
        background: url(../images/bg-pattern-top-desktop.svg) no-repeat left top,
            url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom;
    }
    .landing-text p{
        font-size:50px;
        letter-spacing: 0px;
    }
    .rating{
        padding-top:30px;
    }
    .rating-one, .rating-two, .rating-three{
        width:88%;
    }
    .rating-two{
        margin-left:5%;
    }
    .rating-three{
        margin-left:11%;
    }
    .buyers{
        height:250px;
        margin:40px;
    }
    .buyer-1{
        height:200px;
    }
    .buyer-2{
        height:200px;
        margin-top:10px
    }
    .buyer-3{
        height:200px;
        margin-top: 20px;
    }
    section{
        margin:100px 100px 40px;
    } 
}
/* Large devices (desktops) */
@media (min-width:992px) {}
/* Extra large devices (large desktops) */
@media (min-width:1200px) {}
@media (max-width:575px) {}
/* Small devices (landscape phones)*/
@media (max-width:767px) {
    body{
        background: url(../images/bg-pattern-top-mobile.svg)no-repeat left top , 
        url(../images/bg-pattern-bottom-mobile.svg) bottom no-repeat;
    }
    .stars{
        margin-left: 30px;
        padding-right: 30px;
    }
    .rating{
        text-align: center;
    }
    .buyer-1,.buyer-2{
         margin-bottom: 20px;
    }
    .landing-text{
        text-align: center;
    }
    section{
        margin:50px;
    } 
    .landing-text p{
        font-size: 35px;
    }
}
/* Medium devices (tablets)*/
@media (max-width:991px) {}
/* Large devices (desktops)*/
@media (max-width:1199px){}